<td>
  <%= user.name %><br>
  <%= user.email %><br>
</td>
<td>
  <%= form_for(user) do |f| %>
    Role: <%= f.select(:role, User.roles.keys.map {|role| [role.titleize,role]}) %>
    Default Store: <%= f.select(:default_store_id, Store.minus_virtual.map {|store| [store.name,store.id]},{include_blank: true})%>
    <%= f.submit 'Update User', :class => 'btn btn-primary', data: {disable_with: 'Please wait...'} %>
  <% end %>
</td>
<td>
  <%= link_to('Activity Log', activity_log_data_user_path(user), class: 'btn btn-primary') %>
  <%= link_to('Delete user', user_path(user), data: {confirm: 'Are you sure?' }, method: :delete, class: 'btn btn-danger') unless user == current_user %>
</td>
