<td>
  <%= user.name %><br>
  <%= user.email %><br>
</td>
<td>
  <%= form_for(user) do |f| %>
    Role: <%= f.select(:role, User.roles.keys.map {|role| [role.titleize,role]}) %><br>
    Default Store: <%= f.select(:default_store_id, Store.minus_virtual.map {|store| [store.name,store.id]},{include_blank: true}, class: 'form-control') %>
    <%= f.submit 'Update User', :class => 'button-xs' %>
  <% end %>
</td>
<td>
  <%= link_to("Delete user", user_path(user), :data => { :confirm => "Are you sure?" }, :method => :delete, :class => 'button-xs') unless user == current_user %>
</td>
