<div class="row">
  <div class="col-xs-6">
    <%= link_to('Print', print_proforma_path(@proforma,{hide_item_number: true}), target: '_blank', class:'btn btn-primary btn-block no-print') if policy(@proforma).print? %>
  </div>
  <div class="col-xs-6">
    <%= link_to('Office Print', print_proforma_path(@proforma), target: '_blank', class:'btn btn-primary btn-block no-print') if policy(@proforma).print? %>
  </div>
</div>
<%= form_for(@proforma, data: {readOnly: viewOnlyMode}) do |f| %>
  <% if @proforma.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@proforma.errors.count, "error") %> prohibited this proforma from being saved:</h2>

      <ul>
      <% @proforma.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <%= f.hidden_field :id %>
  <%= render 'customers/picker_with_car_for', model_name: 'proforma', f: f, viewOnlyMode: viewOnlyMode, show_items: show_proforma_items%>
  <% if show_proforma_items %>
    <div class="proforma_items_app" data-view_only="<%= viewOnlyMode %>" data-hide_item_number="<%= hide_item_number %>"></div>
    <% if !viewOnlyMode %>
      <div id="proformas_actions" class="btn-group float_right">
        <%= button_tag 'Save Draft', name:'save', type: 'submit', class: "btn btn-primary"%>
        <a class="btn btn-primary dropdown-toggle" data-toggle="dropdown" href="#">
          <span class="fa fa-caret-down" title="Toggle dropdown menu"></span>
        </a>
        <ul class="dropdown-menu save-dropdown-menu">
          <li><%= button_tag 'Submit', name:'submit', type: 'submit', class: "btn btn-primary btn-block", data:{action: proforma_submit_to_submitted_path(@proforma)} %></li>
        </ul>
      </div>
    <% end %>
  <% else %>
  <%= button_tag 'Create Proforma', name:'save', type: 'submit', class: "btn btn-primary btn-block", data: {disable_with: 'Please wait...'} %>
  <% end %>
<% end %>
