<%= link_to('Print', print_proforma_path(@proforma), target: '_blank', class:'btn btn-primary btn-block no-print') if policy(@proforma).print? %>
<%= form_for(@proforma, data: {readOnly: viewOnlyMode}) do |f| %>
  <% if @proforma.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@proforma.errors.count, "error") %> prohibited this proforma from being saved:</h2>

      <ul>
      <% @proforma.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <%= f.hidden_field :id %>
  <div class="container-fluid">
    <% if !viewOnlyMode %>
      <div id="customer_search_row" class="row">
        <div class="col-xs-3">
          <div class="input-group">
            <%= f.label :customer, value:'Select Customer' %>
            <%= f.autocomplete_field :customer, autocomplete_customer_name_customers_path,
                                     value: '',
                                     name: '',
                                     class: 'form-control',
                                     placeholder: 'Enter customer to search. . .',
                                     :update_elements => {
                                         :id => '#proforma_customer_id',
                                         :name => '#proforma_customer_name',
                                         :company => '#proforma_customer_company',
                                         :phone => '#proforma_customer_phone',
                                         :tin_no => '#proforma_customer_tin_no',
                                         :category => '#proforma_customer_category'
                                     } %>
          </div>
        </div>
        <div class="col-xs-3 customer_cars_picker_app"
             data-picker-id="proforma_car_picker_id"
             data-update-elements="proforma_car">
        </div>
      </div>
    <% end %>
    <div class="row">
      <div class="col-xs-12">
        <h4>Customer Info</h4>
      </div>
    </div>
    <%= f.fields_for (f.object.customer||Customer.new) do |c| %>
      <div class="row">
        <div class="col-xs-3">
          <div class="field form-group">
            <%= c.label :name %>
            <%= c.number_field :id, name:'proforma[customer_id]', class:'hidden' %>
            <%= c.text_field :name, readOnly: true, class: 'form-control' %>
          </div>
        </div>
        <div class="col-xs-5">
          <div class="field form-group">
            <%= c.label :company %>
            <%= c.text_field :company, readOnly: true, class: 'form-control' %>
          </div>
        </div>
        <div class="col-xs-2">
          <div class="field form-group">
            <%= c.label :phone %>
            <%= c.text_field :phone, readOnly: true, class: 'form-control' %>
          </div>
        </div>
        <div class="col-xs-2">
          <div class="field form-group">
            <%= c.label :tin_no, 'TIN No' %>
            <%= c.text_field :tin_no, readOnly: true, class: 'form-control' %>
          </div>
        </div>
      </div>
    <% end %>
    <div class="row">
      <div class="col-xs-12">
        <h4>Car Info</h4>
      </div>
    </div>
    <%= f.fields_for (f.object.car||Car.new) do |c| %>
        <div class="row">
          <div class="col-xs-3">
            <div class="field form-group">
              <%= c.label :vin_no, 'VIN No' %>
              <%= c.number_field :id, name:'proforma[car_id]', class:'hidden' %>
              <%= c.text_field :vin_no, readOnly: true, class: 'form-control' %>
            </div>
          </div>
          <div class="col-xs-3">
            <div class="field form-group">
              <%= c.label :plate_no, 'Plate No' %>
              <%= c.text_field :plate_no, readOnly: true, class: 'form-control' %>
            </div>
          </div>
          <div class="col-xs-2">
            <div class="field form-group">
              <%= c.label :year %>
              <%= c.text_field :year, readOnly: true, class: 'form-control' %>
            </div>
          </div>
          <div class="col-xs-2">
            <div class="field form-group">
              <%= c.label :brand %>
              <%= c.text_field :brand, readOnly: true, class: 'form-control' %>
            </div>
          </div>
          <div class="col-xs-2">
            <div class="field form-group">
              <%= c.label :model %>
              <%= c.text_field :model, readOnly: true, class: 'form-control' %>
            </div>
          </div>
        </div>
    <% end %>
    <hr class="hr-dark">
    <div class="row">
      <div class="col-xs-4">
        <div class="field form-group">
          <%= f.label :store_id %><br>
          <%= f.select(:store_id, Store.for_sales.map {|store| [store.name,store.id]},{selected: f.object.store_id || current_user.default_store_id}, class: 'form-control', disabled: show_proforma_items) %>
        </div>
      </div>
      <div class="col-xs-4">
        <div class="field form-group">
          <%= f.label :created_at, value:'Proforma Date:' %><br>
          <%= f.datetime_field :created_at, class: 'form-control', readOnly: true, value: f.object.formatted_created_at %>
        </div>
      </div>
      <div class="col-xs-4">
        <div class="field form-group">
          <%= f.label :remark %><br>
          <%= f.text_area :remark, class: 'form-control'  %>
        </div>
      </div>
    </div>
    <hr class="hr-dark">
  </div>
  <% if show_proforma_items %>
    <% if viewOnlyMode %>
      <div class="proforma_items_show_app"></div>
    <% else %>
      <div class="proforma_items_app"></div>
      <div id="proformas_actions" class="btn-group float_right">
        <%= button_tag 'Save Draft', name:'save', type: 'submit', class: "btn btn-primary"%>
        <a class="btn btn-primary dropdown-toggle" data-toggle="dropdown" href="#">
          <span class="fa fa-caret-down" title="Toggle dropdown menu"></span>
        </a>
        <ul class="dropdown-menu save-dropdown-menu">
          <li><%= button_tag 'Submit', name:'submit', type: 'submit', class: "btn btn-primary btn-block", data:{action: proforma_submit_to_submitted_path(@proforma)} %></li>
        </ul>
      </div>
    <% end %>
  <% else %>
  <%= button_tag 'Create Proforma', name:'save', type: 'submit', class: "btn btn-primary btn-block", data: {disable_with: 'Please wait...'} %>
  <% end %>
<% end %>
