<div class="container-fluid">
  <%= form_for(@customer, data: {readOnly: action=="Show"}, remote: remote) do |f| %>
    <% if @customer.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@customer.errors.count, "error") %> prohibited this customer from being saved:</h2>

        <ul>
        <% @customer.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>
    <% unless action=="Show"%>
      <div class="actions">
        <%= button_tag(action, type: 'submit', class: "btn btn-primary btn-block", data: {disable_with: 'Please wait...'}) %>
      </div>
    <% end %>
    <div class="row">
      <div class="col-xs-6">
        <div class="field form-group">
          <%= f.label :name %><br>
          <%= f.text_field :name, class:"form-control" %>
        </div>
      </div>
      <div class="col-xs-6">
        <div class="field form-group">
          <%= f.label :company %><br>
          <%= f.text_field :company, class:"form-control" %>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-6">
        <div class="field form-group">
          <%= f.label :phone %><br>
          <%= f.text_field :phone, class:"form-control" %>
        </div>
      </div>
      <div class="col-xs-3">
        <div class="field form-group">
          <%= f.label :tin_no %><br>
          <%= f.text_field :tin_no, class:"form-control" %>
        </div>
      </div>
      <div class="col-xs-3">
        <div class="field form-group">
          <%= f.label :category%><br>
          <%= f.select(:category, Customer.categories.keys.map {|category| [category.titleize,category]},{}, class: 'form-control') %>
        </div>
      </div>
    </div>
    <% unless action=="Show"%>
      <div class="actions">
        <%= button_tag(action, type: 'submit', class: "btn btn-primary btn-block", data: {disable_with: 'Please wait...'}) %>
      </div>
    <% end %>
  <% end %>
</div>