<% if !viewOnlyMode %>
    <div id="customer_search_row" class="row">
      <div class="col-xs-4">
        <div class="input-group">
          <%= f.label :customer, value:'Select Customer' %>
          <%= f.autocomplete_field :customer, autocomplete_customer_name_customers_path,
                                   value: '',
                                   name: '',
                                   class: 'form-control',
                                   placeholder: 'Enter customer to search. . .',
                                   :update_elements => {
                                       :id => "##{model_name}_customer_id",
                                       :name => "##{model_name}_customer_name",
                                       :company => "##{model_name}_customer_company",
                                       :phone => "##{model_name}_customer_phone",
                                       :tin_no => "##{model_name}_customer_tin_no",
                                       :category => "##{model_name}_customer_categor"
                                   } %>
        </div>
      </div>
      <div class="col-xs-4 customer_cars_picker_app"
           data-picker-id="<%="#{model_name}_car_picker_id" %>"
           data-update-elements="<%="#{model_name}_car"%>">
      </div>
    </div>
<% end %>
<div class="row">
  <div class="col-xs-12">
    <h4>Customer Info</h4>
  </div>
</div>
<%= f.fields_for (f.object.customer||Customer.new) do |c| %>
    <div class="row">
      <div class="col-xs-4">
        <div class="field form-group">
          <%= c.label :name %>
          <%= c.number_field :id, name:"#{model_name}[customer_id]", class:'hidden' %>
          <%= c.text_field :name, readOnly: true, class: 'form-control' %>
        </div>
      </div>
      <div class="col-xs-4">
        <div class="field form-group">
          <%= c.label :company %>
          <%= c.text_field :company, readOnly: true, class: 'form-control' %>
        </div>
      </div>
      <div class="col-xs-2">
        <div class="field form-group">
          <%= c.label :phone %>
          <%= c.text_field :phone, readOnly: true, class: 'form-control' %>
        </div>
      </div>
      <div class="col-xs-2">
        <div class="field form-group">
          <%= c.label :tin_no, 'TIN No' %>
          <%= c.text_field :tin_no, readOnly: true, class: 'form-control' %>
        </div>
      </div>
    </div>
<% end %>
<div class="row">
  <div class="col-xs-12">
    <h4>Car Info</h4>
  </div>
</div>
<%= f.fields_for (f.object.car||Car.new) do |c| %>
    <%= c.number_field :id, name:"#{model_name}[car_id]", class:'hidden' %>
    <div class="row">
      <div class="col-xs-2">
        <div class="field form-group">
          <%= c.label :owner, 'Owner' %>
          <%= c.text_field :owner, readOnly: true, class: 'form-control' %>
        </div>
      </div>
      <div class="col-xs-2">
        <div class="field form-group">
          <%= c.label :vin_no, 'VIN No' %>
          <%= c.text_field :vin_no, readOnly: true, class: 'form-control' %>
        </div>
      </div>
      <div class="col-xs-2">
        <div class="field form-group">
          <%= c.label :plate_no, 'Plate No' %>
          <%= c.text_field :plate_no, readOnly: true, class: 'form-control' %>
        </div>
      </div>
      <div class="col-xs-2">
        <div class="field form-group">
          <%= c.label :year %>
          <%= c.text_field :year, readOnly: true, class: 'form-control' %>
        </div>
      </div>
      <div class="col-xs-2">
        <div class="field form-group">
          <%= c.label :brand %>
          <%= c.text_field :brand, readOnly: true, class: 'form-control' %>
        </div>
      </div>
      <div class="col-xs-2">
        <div class="field form-group">
          <%= c.label :model %>
          <%= c.text_field :model, readOnly: true, class: 'form-control' %>
        </div>
      </div>
    </div>
<% end %>