<% content_for :header do %>
    Customers
<% end %>

<%= will_paginate @customers, renderer: BootstrapPagination::Rails %>

<table id="customers" class="table-responsive display table table-striped table-bordered">
  <thead>
    <tr>
      <th class="id" >Id</th>
      <th>Name</th>
      <th>Company</th>
      <th>Phone</th>
      <th class="actions" >Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @customers.each_with_index do |customer,index| %>
      <tr>
        <td><%= line_number(index,@customer.try(:current_page)) %></td>
        <td><%= customer.name %></td>
        <td><%= customer.company %></td>
        <td><%= customer.phone %></td>
        <td>
          <%= actions customer, {separator: ' '.html_safe} %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
