<div class="container-fluid">
  <%= form_for(@order, html:{class:'form-inline', readOnly: action=="Show"}) do |f| %>
    <div class="actions">
      <%= button_tag(action, type: 'submit', class: "btn btn-primary btn-block") %>
    </div>

    <% if @order.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@order.errors.count, "error") %> prohibited this order from being saved:</h2>

          <ul>
            <% @order.errors.full_messages.each do |message| %>
                <li><%= message %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <div class="form-group">
      <%= f.label :title %>:
      <%= f.text_field :title, class:'form-control'  %>
    </div>
    <div class="form-group hidden">
      <%= f.label :created_by %><br>
      <%= f.text_field :created_by, value:current_user.id, class:'form-control'  %>
    </div>
    <div class="form-group">
      <%= f.label :status%>:
      <%= f.text_field :status_upcase , class:'form-control', disabled: true%>
    </div>
    <div class="form-group">
      <%= f.label :brand%>:
      <%= f.text_field :brand, class:'form-control' %></td>
    </div>
    <hr class="order">
    <table id="orders" class="table-responsive display table table-striped table-bordered table-condensed">
      <thead>
      <tr>
        <th width="11%" class="right-align">Quantity</th>
        <th width="25%">Item Name</th>
        <th>Item number</th>
        <th>Original number</th>
        <th>Description</th>
        <th width="10%">Brand</th>
      </tr>
      </thead>

      <tbody>
      <tr class="search-box">
        <td colspan="6">
          <div class="input-group">
            <span class="input-group-addon fa fa-search" id="basic-addon1"></span>
            <input id="search_item_field" type="text" class="form-control fa fa-search" data-autocomplete="/items/autocomplete_item_name" data-name-element="#search_item_id" placeholder="Enter item to search. . .">
          </div>
          <span class="hidden">
            <%= link_to_add_fields "+ Add Item", f, :order_items%>
          </span>
        </td>
      </tr>
      <%= f.fields_for :order_items do |order_item_f| %>
          <% order_item_id = order_item_f.object.id %>
          <%= render 'modals/confirm_order_item_delete', id: "confirm_order_item_delete_#{order_item_id}", f: order_item_f%>
          <tr>
            <td class="right-align">
              <button type="button" class="btn btn-danger fa fa-trash" data-toggle="modal" data-target="#confirm_order_item_delete_<%= order_item_id %>"></button>
              <%= order_item_f.number_field :qty, class:'form-control qty-input' %>
            </td>
            <td>
              <%= order_item_f.text_field :item_name, class:'form-control', readonly: :true %>
              <%= order_item_f.text_field :item_id, class:'form-control hidden item-id', readonly: :true %>
            </td>
            <td>
              <%= order_item_f.text_field :item_number, class:'form-control', readonly: :true %>
            </td>
            <td>
              <%= order_item_f.text_field :original_number, class:'form-control', readonly: :true %>
            </td>
            <td>
              <%= order_item_f.text_field :description, class:'form-control', readonly: :true %>
            </td>
            <td>
              <%= order_item_f.text_field :brand, class:'form-control'%>
            </td>
          </tr>
      <% end %>
      </tbody>
    </table>

    <div class="form-group">
      <%= f.label :notes %><br>
      <%= f.text_area :notes, class:'form-control', rows: 5, cols:100  %>
    </div>

    <br><br>

    <div class="actions">
      <%= button_tag(action, type: 'submit', class: "btn btn-primary btn-block") %>
    </div>
  <% end %>

  <%= render 'modals/duplicate_order_item', id: "duplicate_order_item"%>
</div>

