<% content_for :header do %>
  Orders
<% end %>
<div class="order-actions">
    <%= link_to(link_span('Create New Order'), new_order_path, class: "btn btn-sm btn-primary fa fa-new-window") if current_user.admin? %>
    <%= link_to(link_span('Open All'), show_all_orders_path, class: "btn btn-sm btn-primary fa fa-folder-open")%>
    <%= link_to(link_span('Open Selected'), "#", class: "btn btn-sm btn-primary fa fa-check open-selected", disabled: true)%>
</div>
<br>

<% grouped_orders = @orders.group_by{|order| order.brand} %>
<% grouped_orders.each_pair do |brand,orders| %>
    <h2><%=brand.upcase%></h2>
    <%= render 'order_table', orders: orders%>
<% end %>
