<h1>Order #<%= @orders.map(&:id).join(',#') %></h1>
<% @orders.each do |order| %>
    <% @order = order %>

<%= form_for(@order, html:{class:'form-inline'}) do |f| %>

    <table id="orders" class="table-responsive display table table-striped table-bordered table-condensed">
      <thead>
      <tr>
        <th width="11%" class="right-align">Quantity</th>
        <th width="25%">Item Name</th>
        <th>Item number</th>
        <th>Original number</th>
        <th>Description</th>
        <th width="10%">Brand</th>
        <th width="10%">Status</th>
      </tr>
      </thead>

      <tbody>

      <%= f.fields_for :order_items do |order_item_f| %>
          <tr>
            <td class="right-align">
              <%= order_item_f.object.quantity %>
            </td>
            <td>
              <%= order_item_f.object.item.name %>
            </td>
            <td>
              <%= order_item_f.object.item.item_number %>
            </td>
            <td>
              <%= order_item_f.object.item.original_number %>
            </td>
            <td>
              <%= order_item_f.object.item.description %>
            </td>
            <td>
              <%= order_item_f.object.brand%>
            </td>
            <td>
          <span class="badge center_badge">
            <%= order_item_f.object.status_upcase %>
          </span>
            </td>
          </tr>
      <% end %>
      </tbody>
    </table>

<% end %>

<%= render 'modals/duplicate_order_item', id: "duplicate_order_item"%>

<% end %>