<p id="notice"><%= notice %></p>

<p>
  <strong>Transfer:</strong>
  <%= @transfer_item.transfer_id %>
</p>

<p>
  <strong>Item:</strong>
  <%= @transfer_item.item_id %>
</p>

<p>
  <strong>Qty:</strong>
  <%= @transfer_item.qty %>
</p>

<p>
  <strong>Status:</strong>
  <%= @transfer_item.status %>
</p>

<%= link_to 'Edit', edit_transfer_item_path(@transfer_item) %> |
<%= link_to 'Back', transfer_items_path %>
