<%= form_for(@item, data: {readOnly: action=="Show"}, remote: remote) do |f| %>
    <% if @item.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@item.errors.count, "error") %> prohibited this item from being saved:</h2>

          <ul>
            <% @item.errors.full_messages.each do |message| %>
                <li><%= message %></li>
            <% end %>
          </ul>
        </div>
    <% end %>
    <% unless action=="Show"%>
      <div class="actions">
        <%= button_tag action, type: 'submit', class: "btn btn-primary btn-block", data: {disable_with: 'Please wait...'} %>
      </div>
    <% end %>
    <div class="row">
      <div class="col-xs-6">
        <div class="field form-group">
          <%= f.label :name %>
          <%= f.text_field :name, class:"form-control" %>
        </div>
      </div>
      <div class="col-xs-2">
        <div class="field form-group">
          <%= f.label :car %>
          <%= f.text_field :car, class:"form-control" %>
        </div>
      </div>
      <div class="col-xs-2">
        <div class="field form-group">
          <%= f.label :model %>
          <%= f.text_field :model, class:"form-control" %>
        </div>
      </div>
      <div class="col-xs-2">
        <div class="field form-group">
          <%= f.label :part_class %>
          <%= f.text_field :part_class, class:"form-control" %>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-3">
        <div class="field form-group">
          <%= f.label :original_number %>
          <%= f.text_field :original_number, class:"form-control" %>
        </div>
      </div>
      <div class="col-xs-3">
        <div class="field form-group">
          <%= f.label :item_number %>
          <%= f.text_field :item_number, class:"form-control" %>
        </div>
      </div>
      <div class="col-xs-2">
        <div class="field form-group">
          <%= f.label :prev_number %>
          <%= f.text_field :prev_number, class:"form-control" %>
        </div>
      </div>
      <div class="col-xs-2">
        <div class="field form-group">
          <%= f.label :next_number %>
          <%= f.text_field :next_number, class:"form-control" %>
        </div>
      </div>
      <div class="col-xs-2">
        <div class="field form-group">
          <%= f.label :size %>
          <%= f.text_field :size, class:"form-control" %>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-3">
        <div class="field form-group">
          <%= f.label :description %>
          <%= f.text_area :description, class:"form-control", rows: 5 %>
        </div>
      </div>
      <div class="col-xs-3">
        <label>Inventory</label>
        <table>
          <tbody>
            <%= f.fields_for :inventories do |inv_f| %>
              <% unless inv_f.object.store.virtual? %>
              <tr>
                <td width="12%"><%= inv_f.label :qty, "#{inv_f.object.store.short_name} " %></td>
                <td width="20%"><%= inv_f.number_field :qty, class: 'form-control', disabled: true%></td>
                <td width="40%" class="location">
                  <%= inv_f.text_field :location, class: 'form-control', placeholder:'Location'%>
                </td>
              </tr>
              <% end %>
            <% end %>
          </tbody>
        </table>
      </div>
      <div class="col-xs-6">
        <label>Pricing</label>
        <table id="item-pricing">
          <tr>
            <td width="12%"><%= f.label :sale_price %></td>
            <td>
                <%= f.number_field :sale_price, class:"form-control right-align", step:'0.01' %>
            </td>
            <td width="12%"><%= f.label :cost_price %></td>
            <td>
              <%= f.number_field :cost_price, class:"form-control right-align", step:'0.01' %>
            </td>
          </tr>
          <tr>
            <td width="12%"><%= f.label :dubai_price %></td>
            <td>
              <%= f.number_field :dubai_price, class:"form-control right-align", step:'0.01' %>
            </td>
            <td width="12%"><%= f.label :korea_price %></td>
            <td>
              <%= f.number_field :korea_price, class:"form-control right-align", step:'0.01' %>
            </td>
            <td width="12%"><%= f.label :c_price %></td>
            <td>
              <%= f.number_field :c_price, class:"form-control right-align", step:'0.01' %>
            </td>
          </tr>
        </table>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-3">
        <div class="field form-group">
          <%= f.label :make_from %>
          <%= f.text_field :make_from, class:"form-control", type:'date' %>
        </div>
      </div>
      <div class="col-xs-3">
        <%= f.label :make_to %>
        <%= f.text_field :make_to, class:"form-control", type:'date' %>
      </div>
      <div class="col-xs-2">
        <div class="field form-group">
          <%= f.label :brand %>
          <%= f.text_field :brand, class:"form-control" %>
        </div>
      </div>
      <div class="col-xs-2">
        <div class="field form-group">
          <%= f.label :made %>
          <%= f.text_field :made, class:"form-control" %>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-6">
        <label>Transaction Log</label>
        <div id="transaction_log">
          <ul class="nav nav-tabs">
            <% index = 0 %>
            <% @transactions.keys.each do |store| %>
              <li class="<%= index == 0 ? 'active': ''%>">
                <a href="#t_log_tab_<%= store.id %>" data-toggle="tab"><%=store.short_name.upcase%></a>
              </li>
              <% index +=1 %>
            <% end %>
            <li>
              <a href="#t_log_tab_proformas" data-toggle="tab">PROFORMAS</a>
            </li>
          </ul>

          <div class="tab-content">
            <% index = 0 %>
            <% @transactions.each_pair do |store,ts| %>
              <div id="t_log_tab_<%= store.id %>" class="tab-pane fade in <%= index == 0 ? 'active' : ''%>">
                <div>
                  <%= render 'transactions', transactions: ts %>
                </div>
              </div>
              <% index +=1 %>
            <% end %>
            <div id="t_log_tab_proformas" class="tab-pane fade in">
              <%= render 'transactions', transactions: @proforma_transactions %>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xs-6">
        <label>Last Month Sales</label>
        <div id="item_sales_history"></div>
      </div>
    </div>
    <% unless action=="Show"%>
      <div class="actions">
        <%= button_tag action, type: 'submit', class: "btn btn-primary btn-block", data: {disable_with: 'Please wait...'} %>
      </div>
    <% end %>
<% end %>