<%= form_for(@item, data: {readOnly: action=="Show"}) do |f| %>
    <% if @item.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@item.errors.count, "error") %> prohibited this item from being saved:</h2>

          <ul>
            <% @item.errors.full_messages.each do |message| %>
                <li><%= message %></li>
            <% end %>
          </ul>
        </div>
    <% end %>
    <% unless action=="Show"%>
      <div class="actions">
        <%= button_tag(action, type: 'submit', class: "btn btn-primary btn-block") %>
      </div>
    <% end %>
    <div class="row">
      <div class="col-xs-6">
        <div class="field form-group">
          <%= f.label :name %>
          <%= f.text_field :name, class:"form-control" %>
        </div>
      </div>
      <div class="col-xs-2">
        <div class="field form-group">
          <%= f.label :car %>
          <%= f.text_field :car, class:"form-control" %>
        </div>
      </div>
      <div class="col-xs-2">
        <div class="field form-group">
          <%= f.label :model %>
          <%= f.text_field :model, class:"form-control" %>
        </div>
      </div>
      <div class="col-xs-2">
        <div class="field form-group">
          <%= f.label :part_class %>
          <%= f.text_field :part_class, class:"form-control" %>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-6">
        <div class="field form-group">
          <%= f.label :original_number %>
          <%= f.text_field :original_number, class:"form-control" %>
        </div>
      </div>
      <div class="col-xs-6">
        <div class="field form-group">
          <%= f.label :prev_number %>
          <%= f.text_field :prev_number, class:"form-control" %>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-6">
        <div class="field form-group">
          <%= f.label :item_number %>
          <%= f.text_field :item_number, class:"form-control" %>
        </div>
      </div>
      <div class="col-xs-6">
        <div class="field form-group">
          <%= f.label :next_number %>
          <%= f.text_field :next_number, class:"form-control" %>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-6">
        <div class="field form-group">
          <%= f.label :description %>
          <%= f.text_area :description, class:"form-control", rows: 4 %>
        </div>
      </div>
      <div class="col-xs-4">
        <label>Inventory</label>
        <table>
          <tbody>
            <%= f.fields_for :inventories do |inv_f| %>
              <% unless inv_f.object.store.virtual? %>
              <tr>
                <td width="12%"><%= inv_f.label :qty, "#{inv_f.object.store.short_name} " %></td>
                <td width="20%"><%= inv_f.number_field :qty, class: 'form-control'%></td>
                <td width="40%" class="location">
                  <div class="input-group margin-bottom-sm">
                    <span class="input-group-addon"><i class="fa fa-map-marker fa-fw"></i></span>
                    <%= inv_f.text_field :location, class: 'form-control', placeholder:'Location'%>
                  </div>
                </td>
              </tr>
              <% end %>
            <% end %>
            <% no_stock_store = Store.all.select{|store| !f.object.inventories.map(&:store_id).include?(store.id)} %>
            <% no_stock_store.each_with_index do |store,index| %>
              <tr>
                <td width="12%"><label for="item_inventories_attributes_123_qty"> <%= "#{store.short_name} " %> </label></td>
                <td width="20%">
                  <input type="number" name="item[inventories_attributes][<%="99#{index}"%>][qty]" id="<%="item_inventories_attributes_99#{index}_qty"%>" value="" class="form-control">
                  <input type="hidden" name="item[inventories_attributes][<%="99#{index}"%>][store_id]" id="<%="item_inventories_attributes_99#{index}_store_id"%>" value="<%= store.id %>">
                  <input type="hidden" name="item[inventories_attributes][<%="99#{index}"%>][id]" id="<%="item_inventories_attributes_99#{index}_id"%>" value="">
                </td>
                <td width="40%" class="location">
                  <div class="input-group margin-bottom-sm">
                    <span class="input-group-addon"><i class="fa fa-map-marker fa-fw"></i></span>
                    <input class="form-control" type="text" name="item[inventories_attributes][<%="99#{index}"%>][location]" id="<%="item_inventories_attributes_99#{index}_id"%>" value="" placeholder="Location">
                  </div>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
      <div class="col-xs-2">
        <label>Pricing</label>
        <table>
          <tbody>
          <tr>
            <td width="50%"><%= f.label :sale_price %></td>
            <td>
                <%= f.number_field :sale_price, class:"form-control right-align", step:'0.01' %>
            </td>
          </tr>
          <tr>
            <td width="50%"><%= f.label :dubai_price %></td>
            <td>
              <%= f.number_field :dubai_price, class:"form-control right-align", step:'0.01' %>
            </td>
          </tr>
          <tr>
            <td width="50%"><%= f.label :korea_price %>e</td>
            <td>
              <%= f.number_field :korea_price, class:"form-control right-align", step:'0.01' %>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-3">
        <div class="field form-group">
          <%= f.label :make_from %>
          <%= f.text_field :make_from, class:"form-control", type:'date' %>
        </div>
      </div>
      <div class="col-xs-3">
        <%= f.label :make_to %>
        <%= f.text_field :make_to, class:"form-control", type:'date' %>
      </div>
      <div class="col-xs-3">
        <div class="field form-group">
          <%= f.label :brand %>
          <%= f.text_field :brand, class:"form-control" %>
        </div>
      </div>
      <div class="col-xs-3">
        <div class="field form-group">
          <%= f.label :made %>
          <%= f.text_field :made, class:"form-control" %>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-6">
        <label>Order History</label>
        <div id="item_orders_history"></div>
      </div>
      <div class="col-xs-6">
        <label>Last Month Sales</label>
        <div id="item_sales_history"></div>
      </div>
    </div>
    <% unless action=="Show"%>
      <div class="actions">
        <%= button_tag(action, type: 'submit', class: "btn btn-primary btn-block") %>
      </div>
    <% end %>
<% end %>