<table id="items" class="table-responsive display table table-striped table-bordered">
  <thead>
  <tr>
    <th width="3%">ID</th>
    <th>Name</th>
    <th>Original number</th>
    <th>Item number</th>
    <th>Description</th>
    <th width="4%">Car</th>
    <th width="10%">Price</th>
    <th width="9%">Stock</th>
    <th>Brand</th>
    <th>Made</th>
    <th width="6%">Actions</th>
  </tr>
  </thead>

  <tbody>
  <% items.each_with_index do |item,index| %>
    <tr>
      <td><%= line_number(index,@items.try(:current_page)) %></td>
      <td><%= item.name %></td>
      <td nowrap><%= item.original_number %></td>
      <td nowrap><%= item.item_number %></td>
      <td><%= description_formatter(item.description) %></td>
      <td><%= item.car %></td>
      <td nowrap>
        S-Price: <%= item.sale_price %><br/>
        D-Price: <%= item.dubai_price %><br/>
        K-Price: <%= item.korea_price %><br/>
      </td>
      <td nowrap>
        <% item.inventories.each do |item_inventory| %>
          <%= "#{item_inventory.store.short_name}: #{item_inventory.qty}" %> <br/>
        <% end %>
      </td>
      <td><%= item.brand %></td>
      <td><%= item.made %></td>
      <td>
        <%= actions item %>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>