<table id="items" class="table-responsive display table table-striped table-bordered">
  <thead>
  <tr>
    <th>ID</th>
    <th>Name</th>
    <th>Original number</th>
    <th>Item number</th>
    <th>Prev Number</th>
    <th>Next Number</th>
    <th>Description</th>
    <th>Car</th>
    <th>Part Class</th>
    <th>Price</th>
    <th>Stock</th>
    <th>Brand</th>
    <th>Made</th>
    <th>Actions</th>
  </tr>
  </thead>

  <tbody>
  <% items.each_with_index do |item,index| %>
    <tr>
      <td><%= line_number(index,@items.try(:current_page)) %></td>
      <td><%= item.name %></td>
      <td nowrap><%= item.original_number %></td>
      <td nowrap><%= item.item_number %></td>
      <td nowrap><%= item.prev_number %></td>
      <td nowrap><%= item.next_number %></td>
      <td><%= description_formatter(item.description) %></td>
      <td><%= item.car %></td>
      <td><%= item.part_class %></td>
      <td nowrap>
        S-Price: <%= item.sale_price %><br/>
        D-Price: <%= item.dubai_price %><br/>
        K-Price: <%= item.korea_price %><br/>
      </td>
      <td nowrap>
        T-Shop: <%= item.t_shop %><br/>
        L-Shop: <%= item.l_shop %><br/>
        L-Store: <%= item.l_store %>
      </td>
      <td><%= item.brand %></td>
      <td><%= item.made %></td>
      <td>
        <%= send(actions,item) %>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>