<table class="table table-condensed transaction_log">
  <thead>
  <th>No.</th>
  <th>TYPE</th>
  <th>DATE</th>
  <th>IN</th>
  <th>OUT</th>
  <th>STATUS</th>
  </thead>
  <% transactions.reverse.each do |transaction| %>
      <tr>
        <th><%= link_to(transaction.transaction_num, send(transaction.transaction_type.to_s + '_path',(transaction.transaction_num)), :target => "_blank", style: 'color:#999999 !important;') %></th>
        <th><%= transaction.transaction_type.to_s.titleize %> (<%= transaction.label %>) </th>
        <th><%= transaction.created_at.to_formatted_s(:short) %></th>
        <th><%= transaction.in_qty%></th>
        <th><%= transaction.out_qty %></th>
        <th><%= transaction.status.upcase %></th>
      </tr>
  <% end %>
  <% if transactions.length == 0 %>
    <tr>
      <th colspan="6" class="text-center">No Data Available.</th>
    </tr>
  <% end %>
</table>