<% content_for :header do %>
    Import / Export
<% end %>
<div class="modal-header">
  <h4 class="modal-title" id="myModalLabel">Import Original Items</h4>
</div>
<div class="modal-body">
  <a href="<%= template_items_path(format: "xlsx") %>" class="btn btn-primary" role="button">
    <i class="fa fa-download"></i>
    Download Original Import Template (Excel)
  </a>
  <br><br>
  <%= form_tag import_items_path, multipart: true do %>
      <%= file_field_tag :file, class: 'file'  %>
  <% end %>
</div>
<div class="modal-header">
  <h4 class="modal-title" id="myModalLabel">Import Non-Original Items</h4>
</div>
<div class="modal-body">
  <a href="<%= template_items_path(format: "xlsx") %>" class="btn btn-primary" role="button">
    <i class="fa fa-download"></i>
    Download Non-Original Import Template (Excel)
  </a>
  <br><br>
  <%= form_tag import_non_original_items_path, multipart: true do %>
      <%= file_field_tag :file, class: 'file' %>
  <% end %>
</div>
<div class="modal-header">
  <h4 class="modal-title" id="myModalLabel">Bulk Update Items</h4>
</div>
<div class="modal-body">
  <a href="<%= bulk_update_template_items_path(format: "xlsx") %>" class="btn btn-primary" role="button">
    <i class="fa fa-download"></i>
    Download Bulk Update Template (Excel)
  </a>
  <br><br>
  <%= form_tag bulk_update_items_path, multipart: true do %>
      <div class="row">
        <div class="col-md-2">
          <%= select_tag :update_field, options_for_select(Item.select_attributes,'test'), class: 'form-control' %>
        </div>
        <div class="col-md-10">
          <%= file_field_tag :file, class: 'file' %>
        </div>
      </div>
  <% end %>
</div>
<div class="modal-header">
  <h4 class="modal-title" id="myModalLabel">Export Items</h4>
</div>
<div class="modal-body">
  <a href="<%= download_items_path(format: "xlsx") %>" class="btn btn-primary" role="button">
    <i class="fa fa-download"></i>
    Download All Items
  </a>
  <a href="<%= download_inventory_items_path(format: "xlsx") %>" class="btn btn-primary" role="button">
    <i class="fa fa-download"></i>
    Download All Store Inventories
  </a>
  <div class="btn-group">
    <a class="btn btn-primary" href="#">
      <i class="fa fa-tasks fa-fw"></i>
      Download Inventory by Store
    </a>
    <a class="btn btn-primary dropdown-toggle" data-toggle="dropdown" href="#">
      <span class="fa fa-caret-down" title="Toggle dropdown menu"></span>
    </a>
    <ul class="dropdown-menu context-menu">
      <% Store.minus_virtual.each do |store| %>
        <li>
          <a class='btn-primary item-pop-up-menu' href="<%= download_inventory_items_path(format: "xlsx", store_id: store.id) %>">
            <i class="fa fa-download"></i>
            <%= store.name %>
          </a>
        </li>
      <% end %>
    </ul>
  </div>
</div>