<h1>Listing Items</h1>
<h2>Import Items</h2>
<%= link_to "Download Excel Template", template_items_path(format: "xlsx"),class: "btn btn-primary", role: "button" %>
<%= form_tag import_items_path, multipart: true do %>
    <%= file_field_tag :file %>
    <%= button_tag("Import New Items", type: 'submit', class: "btn btn-primary") %>
<% end %>
<br><br>
<%= link_to('Create New Item', new_item_path, class: "btn btn-primary btn-block", role: "button") %>

<table id="items" class="table-responsive display table table-striped table-bordered">
  <thead>
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Description</th>
      <th>Item number</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @items.each do |item| %>
      <tr>
        <td><%= item.id %></td>
        <td><%= item.name %></td>
        <td><%= item.description %></td>
        <td><%= item.item_number %></td>
        <td><%= link_to 'Details', item, class: "btn btn-info", role:"button" %></td>
        <td><%= link_to 'Edit', edit_item_path(item), class: "btn btn-success", role:"button" %></td>
        <td><%= link_to 'Destroy', item, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-warning", role:"button" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to('Create New Item', new_item_path, class: "btn btn-primary btn-block", role: "button") %>


<div class="modal fade" id="duplicate_modal" tabindex="-1" role="dialog" aria-labelledby="Duplicate">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Duplicate Items Found</h4>
      </div>
      <div class="modal-body">
        ...
      </div>
    </div>
  </div>
</div>