<tr class="new-item">
  <td class="right-align">
    <%= link_to content_tag(:a, content_tag(:i, '', class: "fa fa-trash"), class: "btn btn-danger remove-item", method: :delete, remote: true ) %>
    <%= f.number_field :qty, class:'form-control qty-input', min:1%>
  </td>
  <td>
    <%= f.text_field :item_name, class:'form-control', readonly: :true %>
    <%= f.text_field :item_id, class:'form-control hidden item-id', readonly: :true %>
  </td>
  <td>
    <%= f.text_field :item_number, class:'form-control', readonly: :true %>
  </td>
  <td>
    <%= f.text_field :original_number, class:'form-control', readonly: :true %>
  </td>
  <td>
    <%= f.text_field :description, class:'form-control', readonly: :true %>
  </td>
  <td>
    <%= f.text_field :brand, class:'form-control'%>
  </td>
</tr>