<tr>
  <td class="right-align">
    <%= link_to content_tag(:a, content_tag(:i, '', class: "glyphicon glyphicon-trash"), class: "btn btn-danger remove-item", method: :delete, remote: true ) %>
    <%= f.number_field :quantity, class:'form-control qty-input', min:1%>
  </td>
  <td>
    <%= f.text_field :item, class:'form-control x-large' %>
    <%= f.text_field :item_id, class:'form-control x-large hidden' %>
  </td>
  <td class="right-align"><%= f.select :brand, OrderItem::BRANDS,{}, class:'form-control'%></td>
</tr>