<%= form_for(@return_item) do |f| %>
  <% if @return_item.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@return_item.errors.count, "error") %> prohibited this return_item from being saved:</h2>

      <ul>
      <% @return_item.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :sale_item_id %><br>
    <%= f.number_field :sale_item_id %>
  </div>
  <div class="field">
    <%= f.label :qty %><br>
    <%= f.number_field :qty %>
  </div>
  <div class="actions">
    <%= f.submit 'Save', data: {disable_with: 'Please wait...'} %>
  </div>
<% end %>
