<%= link_to('Print', print_sale_path(@sale), target: '_blank', class:'btn btn-primary btn-block no-print') if policy(@sale).print? %>
<%= form_for(@sale, data: {readOnly: viewOnlyMode}) do |f| %>
  <% if @sale.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@sale.errors.count, "error") %> prohibited this sale from being saved:</h2>

      <ul>
      <% @sale.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <%= f.hidden_field :id %>
  <div class="container-fluid">
    <% if !viewOnlyMode %>
      <div id="customer_search_row" class="row">
        <div class="col-xs-12">
          <div class="input-group">
            <%= f.label :customer, value:'Select Customer' %>
            <%= f.autocomplete_field :customer, autocomplete_customer_name_customers_path,
                                     value: '',
                                     name: '',
                                     class: 'form-control',
                                     placeholder: 'Enter customer to search. . .',
                                     :update_elements => {
                                         :id => '#sale_customer_id',
                                         :name => '#sale_customer_name',
                                         :company => '#sale_customer_company',
                                         :phone => '#sale_customer_phone',
                                         :tin_no => '#sale_customer_tin_no',
                                         :category => '#sale_customer_category'
                                     } %>
          </div>
        </div>
      </div>
    <% end %>
    <div class="row">
      <div class="col-xs-12">
        <h4>Customer Info</h4>
      </div>
    </div>
    <%= f.fields_for (f.object.customer||Customer.new) do |c| %>
      <div class="row">
        <div class="col-xs-3">
          <div class="field form-group">
            <%= c.label :name %>
            <%= c.number_field :id, name:'sale[customer_id]', class:'hidden' %>
            <%= c.text_field :name, readOnly: true, class: 'form-control' %>
          </div>
        </div>
        <div class="col-xs-3">
          <div class="field form-group">
            <%= c.label :company %>
            <%= c.text_field :company, readOnly: true, class: 'form-control' %>
          </div>
        </div>
        <div class="col-xs-2">
          <div class="field form-group">
            <%= c.label :category %>
            <%= c.text_field :category_label, readOnly: true, class: 'form-control' %>
          </div>
        </div>
        <div class="col-xs-2">
          <div class="field form-group">
            <%= c.label :phone %>
            <%= c.text_field :phone, readOnly: true, class: 'form-control' %>
          </div>
        </div>
        <div class="col-xs-2">
          <div class="field form-group">
            <%= c.label :tin_no, 'TIN No' %>
            <%= c.text_field :tin_no, readOnly: true, class: 'form-control' %>
          </div>
        </div>
      </div>
      <hr class="hr-dark">
    <% end %>
    <div class="row">
      <div class="col-xs-4">
        <div class="field form-group">
          <%= f.label :store_id %><br>
          <%= f.select(:store_id, Store.for_sales.map {|store| [store.name,store.id]},{selected: f.object.store_id || current_user.default_store_id}, class: 'form-control', disabled: show_sale_items) %>
        </div>
      </div>
      <div class="col-xs-4">
        <div class="field form-group">
          <%= f.label :created_at, value:'Sales Date:' %><br>
          <%= f.datetime_field :created_at, class: 'form-control', readOnly: true, value: f.object.formatted_created_at %>
        </div>
      </div>
      <div class="col-xs-4">
        <div class="field form-group">
          <%= f.label :remark %><br>
          <%= f.text_area :remark, class: 'form-control'  %>
        </div>
      </div>
    </div>
    <hr class="hr-dark">
  </div>
  <% if show_sale_items %>
    <% if viewOnlyMode %>
      <div class="sales_item_show_app"></div>
    <% else %>
      <div class="sales_item_app"></div>
      <div id="sales_actions" class="btn-group float_right">
        <%= button_tag('Save Draft', name:'save', type: 'submit', class: "btn btn-primary") %>
        <a class="btn btn-primary dropdown-toggle" data-toggle="dropdown" href="#">
          <span class="fa fa-caret-down" title="Toggle dropdown menu"></span>
        </a>
        <ul class="dropdown-menu save-dropdown-menu">
          <li><%= button_tag('Submit', name:'submit', type: 'submit', class: "btn btn-primary btn-block", data:{action: sale_submit_to_sold_path(@sale)}) %></li>
          <li><%= button_tag('Credit', name:'credit', type: 'submit', class: "btn btn-primary btn-block", data:{action: sale_submit_to_credited_path(@sale)}) %></li>
          <li><%= button_tag('Sample', name:'sample', type: 'submit', class: "btn btn-primary btn-block", data:{action: sale_submit_to_sampled_path(@sale)}) %></li>
        </ul>
      </div>
    <% end %>
  <% else %>
  <%= button_tag('Create Sales Order', name:'save', type: 'submit', class: "btn btn-primary btn-block") %>
  <% end %>
<% end %>
