<%= link_to('Print', print_sale_path(@sale), target: '_blank', class:'btn btn-primary btn-block no-print') if policy(@sale).print? %>
<%= form_for(@sale, data: {readOnly: viewOnlyMode}) do |f| %>
  <% if @sale.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@sale.errors.count, "error") %> prohibited this sale from being saved:</h2>

      <ul>
      <% @sale.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <%= f.hidden_field :id %>
  <%= render 'customers/picker_with_car_for', model_name: 'sale', f: f, viewOnlyMode: viewOnlyMode, show_items: show_sale_items%>
  <% if show_sale_items %>
    <% if viewOnlyMode %>
      <div class="sales_item_show_app"></div>
    <% else %>
      <div class="sales_item_app"></div>
      <div id="sales_actions" class="btn-group float_right">
        <%= button_tag 'Save Draft', name:'save', type: 'submit', class: "btn btn-primary"%>
        <a class="btn btn-primary dropdown-toggle" data-toggle="dropdown" href="#">
          <span class="fa fa-caret-down" title="Toggle dropdown menu"></span>
        </a>
        <ul class="dropdown-menu save-dropdown-menu">
          <li><%= button_tag 'Submit', name:'submit', type: 'submit', class: "btn btn-primary btn-block", data:{action: sale_submit_to_sold_path(@sale)} %></li>
          <li><%= button_tag 'Credit', name:'credit', type: 'submit', class: "btn btn-primary btn-block", data:{action: sale_submit_to_credited_path(@sale)} %></li>
          <li><%= button_tag 'Sample', name:'sample', type: 'submit', class: "btn btn-primary btn-block", data:{action: sale_submit_to_sampled_path(@sale)} %></li>
        </ul>
      </div>
    <% end %>
  <% else %>
  <%= button_tag 'Create Sales Order', name:'save', type: 'submit', class: "btn btn-primary btn-block", data: {disable_with: 'Please wait...'} %>
  <% end %>
<% end %>
