<% content_for :header do %>
    Sales
<% end %>

<ul class="nav nav-tabs">
  <li class="active">
    <a href="#search_sales_tab" data-toggle="tab"> Search </a>
  </li>
  <% @stores.each do |store| %>
    <%= content_tag :li, '' do %>
      <%= content_tag :a, store.titleize, {'data-toggle': 'tab', href: "##{store}_sales_tab"} %>
    <% end %>
  <% end %>
</ul>

<div class="tab-content">
  <div id="search_sales_tab" class="tab-pane fade in active">
    <div>
      <%= render 'search'%>
    </div>
  </div>
  <% @stores.each do |store| %>
    <%= content_tag :div, {id: "#{store}_sales_tab", class:"tab-pane fade in"} do %>
      <%= content_tag :div do %>
        <table id="<%= store %>_sales_table" class="table-responsive display table table-striped table-bordered">
          <thead>
          <tr>
            <th width="5%">Sale#</th>
            <th>Customer</th>
            <th>Created at</th>
            <th width="5%">Status</th>
            <th>Grand Total</th>
            <th>Actions</th>
          </tr>
          </thead>

          <tbody>
          <% @grouped_sales[store].each do |sale| %>
            <tr data-id="<%=sale.id%>">
              <td><%= sale.id %></td>
              <td><%= sale.customer.name %></td>
              <td><%= sale.created_at %></td>
              <td><span class="badge"><%= sale.status_upcase %></span></td>
              <td class="right-align"><%= sale.grand_total %></td>
              <td>
                <%= link_to(link_span('Open'), sale, class: "btn btn-sm btn-primary fa fa-folder-open")%>
                <% if sale.draft? %>
                  <%= link_to(link_span('Edit'), edit_sale_path(sale), class: "btn btn-sm btn-primary fa fa-edit")%>
                  <%= link_to(link_span('Submit'), sale_submit_to_sold_path(sale), class: "btn btn-sm btn-primary fa fa-send", remote: true) if sale.may_submit? %>
                  <%= render 'modals/confirm_sale_delete', id: "confirm_sale_delete_#{sale.id}", obj: sale%>
                  <button type="button" class="btn btn-sm btn-danger fa fa-trash" data-toggle="modal" data-target="#confirm_sale_delete_<%= sale.id %>"><%=link_span('Delete')%></button>
                <% end %>
              </td>
            </tr>
          <% end %>
          </tbody>
        </table>
      <% end %>
    <% end %>
  <% end %>
</div>