<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= content_for?(:title) ? yield(:title) : "OTS - Order Tracking System" %></title>
  <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "OTS - Order Tracking System" %>">
  <%= stylesheet_link_tag 'application', media: 'all'%>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
  <%= javascript_include_tag 'application'%>
  <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
  <%= csrf_meta_tags %>
</head>
<body>
<div>

  <!--BEGIN TOPBAR-->
  <div id="header-topbar-option-demo" class="page-header-topbar">
    <nav id="topbar" role="navigation" style="margin-bottom: 0;" data-step="3" class="navbar navbar-default navbar-static-top">
      <div class="navbar-header">
        <button type="button" data-toggle="collapse" data-target=".sidebar-collapse" class="navbar-toggle">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a id="logo" href="/" class="navbar-brand">
          <span class="logo-text">OTS</span>
        </a>
      </div>
      <div class="topbar-main">
        <a id="menu-toggle" href="#" class="hidden-xs">
          <i class="fa fa-bars"></i>
        </a>
        <% if user_signed_in? %>
          <form id="topbar-search" action="" method="" class="hidden-sm hidden-xs">
            <div class="input-icon right text-white">
              <a href="#"><i class="fa fa-search"></i></a>
              <input id="dashboard_search" type="text" placeholder="Search here..." class="form-control text-white"/>
            </div>
          </form>
        <% end %>
        <ul class="nav navbar navbar-top-links navbar-right mbn">
          <li class="topbar-user">
            <a data-hover="dropdown" href="#" class="dropdown-toggle">
              <span class="hidden-xs">
                <% if user_signed_in? %>
                  Welcome <%= current_user.name %>
                <% else %>
                  Welcome
                <% end %>
              </span>
            </a>
          </li>
        </ul>
      </div>
    </nav>

  </div>
  <!--END TOPBAR-->

  <!--BEGIN MAIN CONTAINER-->
  <div id="wrapper">
    <!--BEGIN SIDEBAR MENU-->
    <nav id="sidebar" role="navigation" data-step="2" data-intro="Template has &lt;b&gt;many navigation styles&lt;/b&gt;"
         data-position="right" class="navbar-default navbar-static-side">
      <div class="sidebar-collapse menu-scroll">
        <ul id="side-menu" class="nav">
          <div class="clearfix"></div>
          <%= render 'layouts/navigation_links' %>
        </ul>
      </div>
    </nav>
    <!--END SIDEBAR MENU-->

    <!--BEGIN PAGE WRAPPER-->
    <div id="page-wrapper">
      <div id="title-breadcrumb-option-demo" class="page-title-breadcrumb">
        <div class="page-header pull-left">
          <div class="page-title">
            <%= yield :header %>
          </div>
        </div>
        <div class="clearfix">
        </div>
      </div>
      <div class="page-content">
        <%= render 'layouts/messages' %>
        <div class="main-content">
          <%= yield %>
        </div>
        <div class="search-result">
          <h2>Search Results</h2>
          <div id="search-items-result">
            <table id='item-results-table' class="table-responsive display compact table table-striped">
              <thead>
              <tr>
                <th rowspan="2">Name</th>
                <th rowspan="2">Original number</th>
                <th rowspan="2">Item number</th>
                <th rowspan="2">Prev Number</th>
                <th rowspan="2">Next Number</th>
                <th rowspan="2">Description</th>
                <th rowspan="2">Car</th>
                <th rowspan="2">Model</th>
                <th colspan="3">Price</th>
                <th colspan="3">Stock</th>
                <th rowspan="2">Brand</th>
                <th rowspan="2">Made</th>
              </tr>
              <tr>
                <th>S-Price</th>
                <th>D-Price</th>
                <th>K-Price</th>
                <th>T-Shop</th>
                <th>L-Shop</th>
                <th>T-Store</th>
              </tr>
              </thead>
              <tbody class="list">
              </tbody>
            </table>
          </div>
        </div>

      </div>
    </div>
    <!--END PAGE WRAPPER-->
  </div>
  <!--END MAIN CONTAINER-->
</div>
</body>
</html>
