<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= content_for?(:header) ? "OTS - #{yield(:header)}" : "OTS - Order Tracking System" %></title>
  <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "OTS - Order Tracking System" %>">
  <%= stylesheet_link_tag 'application', media: 'all', async: true%>
  <!--<link rel="preload" as="style" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">-->
  <%= javascript_include_tag 'application'%>
  <script>
      const valuesPolyfill = function values (object) {
          return Object.keys(object).map(function(key){return object[key];});
      };

      Object.values = Object.values || valuesPolyfill;
  </script>
  <!--<script src="https://cdn.jsdelivr.net/npm/vue"></script>-->
  <!--<script src="https://unpkg.com/vuetify/dist/vuetify.js"></script>-->
  <%= csrf_meta_tags %>
  <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
              (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
          m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-96578898-1', 'auto');
      ga('send', 'pageview');
  </script>
</head>
<body class="hold-transition skin-blue sidebar-mini sidebar-collapse <%=controller_name%>_<%=action_name%>">
  <div class="wrapper">
    <header class="main-header">
      <!-- Logo -->
      <a href="/" class="logo">
        <!-- mini logo for sidebar mini 50x50 pixels -->
        <span class="logo-mini"><b>O</b>TS</span>
        <!-- logo for regular state and mobile devices -->
        <span class="logo-lg"><b>OTS</b>v2</span>
      </a>
      <!-- Header Navbar: style can be found in header.less -->
      <nav class="navbar navbar-static-top">
        <!-- Sidebar toggle button-->
        <a href="#" class="sidebar-toggle" data-toggle="push-menu" role="button">
          <span class="sr-only">Toggle navigation</span>
        </a>
        <% if user_signed_in? %>
          <div class="navbar-custom-menu">
          <ul class="nav navbar-nav">
            <!-- Refer to layouts/messages.html -->
            <!-- Refer to layouts/notifications.html -->
            <!-- Refer to layouts/tasks.html -->

            <!-- User Account: style can be found in dropdown.less -->
            <li class="dropdown user user-menu">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                <%= image_tag('default_user.png',{class: 'user-image', alt: 'User Image'}) %>
                <span class="hidden-xs">
                  <%= current_user.name %>
                </span>
              </a>
              <ul class="dropdown-menu">
                <!-- User image -->
                <li class="user-header">
                  <%= image_tag('default_user.png',{class: 'img-circle', alt: 'User Image'}) %>
                  <p>
                    <%= current_user.name %> -  <%=current_user.role.titleize %>
                    <small>Logged in since
                      <%= current_user.current_sign_in_at.to_formatted_s(:long) %>
                    </small>
                  </p>
                </li>
                <!-- Menu Footer-->
                <li class="user-footer">
                  <div class="pull-left">
                    <%= link_to('Profile',edit_user_registration_path,class:'btn btn-default btn-flat') %>
                  </div>
                  <div class="pull-right">
                    <%= link_to('Sign out',destroy_user_session_path,{class:'btn btn-default btn-flat',method:'delete'}) %>
                  </div>
                </li>
              </ul>
            </li>
            <!-- Control Sidebar Toggle Button -->
            <li>
              <a href="#" data-toggle="control-sidebar"><i class="fa fa-gears"></i></a>
            </li>
          </ul>
        </div>
        <% end %>
      </nav>
    </header>

    <!-- Left side column. contains the logo and sidebar -->
    <aside class="main-sidebar">
      <!-- sidebar: style can be found in sidebar.less -->
      <section class="sidebar">
        <!-- sidebar menu: : style can be found in sidebar.less -->
        <%= render 'layouts/sidebar_menu' %>
      </section>
      <!-- /.sidebar -->
    </aside>

    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
      <!-- Content Header (Page header) -->
      <section class="content-header">
        <h1>
          <%= yield :header %>
        </h1>
      </section>

      <!-- Main content -->
      <section class="content">

        <% if !content_for?(:content) %>
          <div class="box">
            <!--<div class="box-header with-border">-->
              <!--<h3 class="box-title"><--%= yield :content_header %></h3>-->
            <!--</div>-->
            <div class="box-body" style="min-height: 607px">
              <%= yield %>
            </div>
            <!-- /.box-body -->
            <div class="box-footer">
              <%= yield :content_footer %></h3>
            </div>
            <!-- /.box-footer-->
          </div>
        <% else %>
            <%= yield :content %>
        <% end %>
      </section>
      <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->

    <footer class="main-footer">
      <div class="pull-right hidden-xs">
        <%= Time.zone.now %> <b>Version</b> 2.0.0
      </div>
      <strong>Copyright &copy; 2016-2018 Sundus Yousuf.</strong> All rights reserved.
    </footer>

    <!-- Control Sidebar -->
    <!-- Refer to layout/control-sidebar.html -->
  </div>
  <!-- ./wrapper -->
</body>
<!--</body>-->
</html>
