<%= form_for(@proforma_item) do |f| %>
  <% if @proforma_item.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@proforma_item.errors.count, "error") %> prohibited this proforma item from being saved:</h2>

      <ul>
      <% @proforma_item.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :proforma_id %><br>
    <%= f.number_field :proforma_id %>
  </div>
  <div class="field">
    <%= f.label :item_id %><br>
    <%= f.number_field :item_id %>
  </div>
  <div class="field">
    <%= f.label :qty %><br>
    <%= f.number_field :qty %>
  </div>
  <div class="field">
    <%= f.label :unit_price %><br>
    <%= f.number_field :unit_price %>
  </div>
  <div class="actions">
    <%= f.submit 'Save', data: {disable_with: 'Please wait...'} %>
  </div>
<% end %>
